/* RESET */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background: royalblue;
}

/* FULL SCREEN SECTIONS */
.full-bg { min-height: 100vh; 
          width: 100%; display: flex; justify-content: center;
          align-items: center; flex-direction: column; background: royalblue; 
          transition: background 0.3s ease; color: white;
          padding: 20px; text-align: center; }

/* Card Box */
.box {
  width: 90%;
  max-width: 700px;
  background: royalblue;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
}

/* Title */
.title-box h1 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

/* Description */
.desc-box p {
  font-size: 1.15rem;
  line-height: 1.6;
  opacity: 0.9;
}

/* Start Button */
.start-btn {
  margin-top: 20px;
  padding: 12px 28px;
  font-size: 1.25rem;
  background: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color:black;
  box-shadow: 0 0 10px rgba(50,205,50,0.6);
  transition: 0.3s;
}
.start-btn:hover {
  background: green;
  transform: scale(1.05);
}

/* QUIZ CONTAINER */
.quiz-container {
  width: 90%;
  max-width: 700px;
  margin: auto;
  padding: 25px;
  text-align: center;
  border-radius: 14px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(6px);
  color: white;
}

/* OPTIONS */
.option-btn {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  background: royalblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.25s;
}

.option-btn:hover {
  background: whitesmoke;
  transform: scale(1.02);
}

/* NEXT BUTTON */
.next-btn {
  padding: 12px 22px;
  margin-top: 15px;
  display: none;
  font-size: 1.1rem;
  background: gold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: 0.3s;
}
.quiz-bg {
    min-height: 100vh;
    width: 100%;
    background: royalblue;
    display: none;
    padding-top: 40px;
    color: white;
}

.next-btn:hover {
  background: goldenrod;
}

@media(max-width:1200px){body{background-color:navy;}}
@media(max-width:1000px){body{background-color:brown;}}
@media(max-width:800px){body{background-color:lightcoral;}}
@media(max-width:600px){body{background-color:yellow;}}

